---
interface Podcast {
    name: string;
    description: string;
    tags?: string[];
    date?: string;
    link: {
        url?: string;
        platform?: string;
        title?: string;
    };
};

const podcasts: Podcast[] = [{
    name: 'My Microsoft MVP Journey',
    description: 'By Nicolas blank, Microsoft MVP. Exploring the journey and experiences of becoming a Microsoft MVP.',
    tags: ['microsoft', 'mvp', 'career', 'technology'],
    link: {
        url: 'https://www.youtube.com/watch?v=Z3xWQKb93Yc',
        platform: 'YouTube'
    }
}, {
    name: 'Roles and Responsibilities of a Data Scientist',
    description: 'By Alibek Jakupov, Microsoft MVP. Deep dive into the world of data science and what it takes to succeed in this field.',
    tags: ['data-science', 'career', 'microsoft', 'mvp'],
    link: {
        url: 'https://www.youtube.com/watch?v=WA7T6JYtdCg',
        platform: 'YouTube'
    }
}, {
    name: 'How to Upskill your Azure Skills with MS Data Platform',
    description: 'By Paul Andrew, Microsoft MVP. Learn about effective strategies for improving your Azure expertise.',
    tags: ['azure', 'microsoft', 'mvp', 'data-platform', 'cloud'],
    link: {
        url: 'https://www.youtube.com/watch?v=agLl7dZaIlw',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Podcast Series with Albert Tanure',
    description: 'By **Albert Tanure**, **Microsoft MVP**. Insights and discussions about modern technology trends.',
    tags: ['technology', 'microsoft', 'mvp', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=M_opBbPkGSk',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Podcast Series with Rahul Ambhore',
    description: 'By **Rahul Ambhore**, **AVP - StateStreet**. Discussion about fintech and banking technology.',
    tags: ['fintech', 'banking', 'technology', 'leadership'],
    link: {
        url: 'https://www.youtube.com/watch?v=VXJRU7URGD0',
        platform: 'YouTube'
    }
}, {
    name: 'Securing India\'s Cyber Future: Exploring Cybersecurity',
    description: 'By **Zakir Hussain**, **CEO - BD Software**. In-depth discussion about cybersecurity challenges and solutions.',
    tags: ['cybersecurity', 'technology', 'india', 'security'],
    link: {
        url: 'https://www.youtube.com/watch?v=EhHhbB5I6kc',
        platform: 'YouTube'
    }
}, {
    name: 'Evolution of Digital Assets: Tokenless Blockchain Concept',
    description: 'By **Pradeep KP**, **Co-Founder - Dhiway**. Exploring innovative blockchain solutions.',
    tags: ['blockchain', 'digital-assets', 'innovation', 'technology'],
    link: {
        url: 'https://www.youtube.com/watch?v=phCrFfNZ1Yg',
        platform: 'YouTube'
    }
}, {
    name: 'Leading Innovation with NEC Corporation',
    description: 'By **Debanjan Dutta**, **GDC Lead - NEC Corporation**. A discussion on technology and development.',
    tags: ['innovation', 'technology', 'leadership', 'development'],
    link: {
        url: 'https://www.youtube.com/watch?v=OMRrVSG4bsE',
        platform: 'YouTube'
    }
}, {
    name: 'Securing Privacy in Fintech with Open Source Software',
    description: 'By **Sriram KS**, **Engineering Lead - M2P**. Insights into fintech security and open source.',
    tags: ['fintech', 'security', 'open-source', 'privacy'],
    link: {
        url: 'https://www.youtube.com/watch?v=vbu8noaRTco',
        platform: 'YouTube'
    }
}, {
    name: 'Cybersecurity is Critical for Digital Ambitions',
    description: 'By **Sandeep Peshkar**, **Senior VP - Arete**. Exploring the importance of cybersecurity in digital transformation.',
    tags: ['cybersecurity', 'digital-transformation', 'technology', 'security'],
    link: {
        url: 'https://www.youtube.com/watch?v=UneYRtqekh4',
        platform: 'YouTube'
    }
}, {
    name: '**Revolutionizing Finance: The Recur Club Journey**',
    description: 'By **CTO - Recur Club**. Discussion about fintech innovation and business transformation.',
    tags: ['fintech', 'innovation', 'business', 'technology'],
    link: {
        url: 'https://www.youtube.com/watch?v=qRjyY5giaDk',
        platform: 'YouTube'
    }
}, {
    name: 'The Tech Podcast Series: Episode with Sahil Jain',
    description: 'By **Sahil Jain**, **Founder - Techno Companion**. Insights into technology and entrepreneurship.',
    tags: ['technology', 'entrepreneurship', 'innovation', 'startup'],
    link: {
        url: 'https://www.youtube.com/watch?v=q6QyAUgDJ_0',
        platform: 'YouTube'
    }
}, {
    name: 'Unraveling the Future of Cybersecurity and Technology',
    description: 'By **Deepa Seshadri**, **CIO PM Lead - Deloitte**. Discussion about cybersecurity trends and future tech.',
    tags: ['cybersecurity', 'technology', 'future-tech', 'leadership'],
    link: {
        url: 'https://www.youtube.com/watch?v=0eGoG12RBDo',
        platform: 'YouTube'
    }
},
//     name: 'Git & GitHub Deep Dive',
//     description: 'Understanding version control systems and collaborative development with Git and GitHub.',
//     tags: ['git', 'collaboration'],
//     link: {
//         url: 'https://www.linkedin.com/posts/wizardlocks_gitandgithubcollaboration-teamworkincoding-activity-7067108886914187264-XwLM',
//         platform: 'LinkedIn'
//     }
// }, {
//     name: 'WhatsApp Business API',
//     description: 'Exploring the capabilities and implementation of WhatsApp Business API.',
//     tags: ['api', 'business'],
//     link: {
//         url: 'https://www.linkedin.com/posts/wizardlocks_whatsapp-business-transform-your-business-activity-7067469268392583168-CAWp',
//         platform: 'LinkedIn'
//     }
// }, {
//     name: 'Docker vs Virtual Machines',
//     description: 'Comparing containerization with Docker to traditional virtual machines.',
//     tags: ['docker', 'virtualization'],
//     link: {
//         url: 'https://www.linkedin.com/posts/wizardlocks_learningincontainers-dockerizededucation-activity-7068217126506889216-Lcng',
//         platform: 'LinkedIn'
//     }
// }, {
//     name: 'Threading Concepts',
//     description: 'Understanding parallel processing and thread management in modern applications.',
//     tags: ['programming', 'concurrency'],
//     link: {
//         url: 'https://www.linkedin.com/posts/wizardlocks_threadsinaction-parallelconversations-efficientcommunication-activity-7068621444875698176-YPVP',
//         platform: 'LinkedIn'
//     }
// }, {
// //     name: 'Live Streaming Architecture',
//     description: 'Deep dive into the architecture behind modern live streaming platforms.',
//     tags: ['architecture', 'streaming'],
//     link: {
//         url: 'https://www.linkedin.com/posts/wizardlocks_cskvsgujrattitans-scalability-cloud-activity-7069292975385640960-0MhJ',
//         platform: 'LinkedIn'
//     }
// }, 
{
    name: 'Cloud Adoption Schemes with Cloud Success Manager',
    description: 'By Chirag Nayyar, PreSales - SoftwareOne. Expert insights into cloud adoption strategies.',
    tags: ['cloud', 'technology', 'business', 'digital-transformation'],
    link: {
        url: 'https://www.youtube.com/watch?v=axaW1njSDOo',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Podcast Series with Dilip Pai',
    description: 'By Dilip Pai, Microsoft MCT. Sharing knowledge and experiences in technology education.',
    tags: ['technology', 'education', 'microsoft', 'training'],
    link: {
        url: 'https://www.youtube.com/watch?v=czw2DRCd19o',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Podcast Series with Neha Singh',
    description: 'By Neha Singh, Research - Samsung. Insights into technology research and innovation.',
    tags: ['research', 'technology', 'innovation', 'samsung'],
    link: {
        url: 'https://www.youtube.com/watch?v=DAanT4t6DwU',
        platform: 'YouTube'
    }
}, {
    name: 'Understanding the Digitization of Agriculture',
    description: 'By Anjami Nayaar, CTO - Hyfun Food. Exploring technology transformation in agriculture.',
    tags: ['agriculture', 'technology', 'digital-transformation', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=_WEvykdSnYE',
        platform: 'YouTube'
    }
}, {
    name: 'Revolutionizing Job Hunting with Workruit',
    description: 'By Founder - Workruit. Discussion on AI-Powered Resumes and GenZ-Style Recruitment.',
    tags: ['recruitment', 'ai', 'hr-tech', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=l4ZzCtGGng8',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Podcast Series with Jayshree Gupta',
    description: 'By Jayshree Gupta, SDE - Google. Insights into software development at scale.',
    tags: ['software-development', 'technology', 'google', 'engineering'],
    link: {
        url: 'https://youtu.be/0bpg4k9VO94',
        platform: 'YouTube'
    }
}, {
    name: 'The Next Decade of Automation',
    description: 'By MD - ARAPL. Exploring opportunities and challenges in automation.',
    tags: ['automation', 'technology', 'future-tech', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=qPXMTtl61sY',
        platform: 'YouTube'
    }
}, {
    name: 'Tech-Driven Construction with Infra.Market',
    description: 'By CTO - Infra.Market. Pioneering change in construction technology.',
    tags: ['construction', 'technology', 'innovation', 'digital-transformation'],
    link: {
        url: 'https://www.youtube.com/watch?v=3pWOx8bRBoI',
        platform: 'YouTube'
    }
}, {
    name: 'Technology in Business Sustainability',
    description: 'By Founder - RUHE. How technology keeps sustainability in check.',
    tags: ['sustainability', 'business', 'technology', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=Jvxc-hlv2FI',
        platform: 'YouTube'
    }
}, {
    name: 'Tech Sales, Investment & Growth',
    description: 'By Viram Shah, CEO - Vested Finance. Insights into technology investment and growth.',
    tags: ['investment', 'technology', 'sales', 'growth'],
    link: {
        url: 'https://www.youtube.com/watch?v=nPPF6FwtSM8',
        platform: 'YouTube'
    }
}, {
    name: 'Mastering MLOps in Azure',
    description: 'By Vishwas Narayan, Cloud Expert. Best practices and insights for MLOps.',
    tags: ['mlops', 'azure', 'cloud', 'machine-learning'],
    link: {
        url: 'https://www.youtube.com/watch?v=3okACBEJ0MU',
        platform: 'YouTube'
    }
}, {
    name: 'Zero Downtime Deployment using Kubernetes',
    description: 'By Engineering Lead - LambdaTest. Deep dive into Kubernetes deployment strategies.',
    tags: ['kubernetes', 'devops', 'deployment', 'technology'],
    link: {
        url: 'https://www.youtube.com/watch?v=oQnFxYGHos0',
        platform: 'YouTube'
    }
}, {
    name: 'Revolutionizing Indian Agriculture',
    description: 'By Founder - iConcept. Tech-driven journey towards sustainable growth.',
    tags: ['agriculture', 'technology', 'sustainability', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=a9J3bSMptdI',
        platform: 'YouTube'
    }
}, {
    name: 'From Theory to Practice: Ulipsu\'s Educational Vision',
    description: 'By CTO - Ulipsu. Cultivating practical skills for Indian students.',
    tags: ['education', 'technology', 'skills', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=-0bC9QvrzlU',
        platform: 'YouTube'
    }
}, {
    name: 'Revolutionizing Compliance Management',
    description: 'By MD - Core Integra. Insights into modern compliance solutions.',
    tags: ['compliance', 'technology', 'management', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=2TL9ExO4vCg',
        platform: 'YouTube'
    }
}, {
    name: 'The Fusion of Art and Technology',
    description: 'By Avijit Samajdar, Founder - Axis 3D Studio. Exploring creative tech innovation.',
    tags: ['art', 'technology', '3d', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=cfVPlw0acD4',
        platform: 'YouTube'
    }
}, {
    name: 'Empowering India\'s MSMEs',
    description: 'By CEO - Recordent. Unravelling the Fintech Revolution.',
    tags: ['fintech', 'msme', 'technology', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=RQnHXTIYpvw',
        platform: 'YouTube'
    }
}, {
    name: 'From Dreams to Classrooms',
    description: 'By Founder - Bachpan Play Schools. The Education Entrepreneur\'s Journey.',
    tags: ['education', 'entrepreneurship', 'technology', 'innovation'],
    link: {
        url: 'https://www.youtube.com/watch?v=bpN2gyPCFxc',
        platform: 'YouTube'
    }
}, {
    name: 'AI Philosophy: Transformative Applications',
    description: 'By COO - MSys Technologies. Future trends and transformative applications of AI.',
    tags: ['ai', 'technology', 'future-tech', 'innovation'],
    link: {
        url: 'https://youtu.be/4G2OfQTGK7I',
        platform: 'YouTube'
    }
}];
---

<div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {podcasts.map(podcast =>
            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">
                <h3 class="text-xl font-semibold text-white mb-2">
                    {podcast.name}
                </h3>

                <p class="text-gray-400 mb-3">
                    {podcast.description}
                </p>

                <div class="flex flex-wrap gap-2 mb-4">
                    {podcast.tags?.map(tag => (
                        <span class="text-primary text-sm">#{tag}</span>
                    ))}
                </div>

                {podcast.link?.url && (
                    <a
                        href={podcast.link.url}
                        title={podcast.link.title || podcast.name}
                        target="_blank"
                        class="
                            w-full px-4 py-2.5 mt-4 text-center
                            border border-gray-600 rounded-lg
                            hover:text-primary
                            hover:border-primary
                        ">
                        Listen on {podcast.link.platform}
                    </a>
                )}
            </div>
        )}
    </div>
</div>
